#edit-category{
    width: 600px;
    height: 230px;
    border-radius: 10px;
    background-color: white;
    background: linear-gradient(0, #1C1C1C, #424242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border: 1px solid #b32229;
}

#add-category{
    width: 600px;
    height: 130px;
    border-radius: 10px;
    background-color: white;
    background: linear-gradient(0, #1C1C1C, #424242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border: 1px solid #b32229;
}

#input-cat{
    margin-top: 10px;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #b32229;
    text-align: center;
    font-family: myFirstFont;
    font-size: 15px;
    box-shadow: 0 0 7px red;
}

.shadow{
    -moz-box-shadow:    5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow:      5px 5px 5px 0px #656565;
    box-shadow:         5px 5px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
.shadow:hover{
    -moz-box-shadow:    10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow:      10px 10px 5px 0px #656565;
    box-shadow:         10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
.config {
    background-color: #b32229; 
    border: none;
    color: white;
    text-align: center;    
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
    width : 100px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    margin-top: 15px;
}
.config:hover{
    background-color:  #930209;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: px;
    -webkit-border-radius: px;
    border-radius: px;
}

@font-face {
    font-family: myFirstFont;
    src: url(./Aleo-Regular.otf);
}

placeorder{
    font-family: myFirstFont;
    font-size: 20px;
}

input[type="text"]:active {
    color: green;
}

.configu {
    background-color: #b32229; 
    border: none;
    color: white;
    text-align: center;    
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
    width : 130px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    margin-top: 15px;
}
.configu:hover{
    background-color:  #930209;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: px;
    -webkit-border-radius: px;
    border-radius: px;
}