body
{
	background: url("resources/Background.jpg") no-repeat center center fixed; 
	background-size: cover;
}

.header
{
	margin-left: auto;
	margin-right: auto;
	width:1200px;
	position:relative;
}

.logo
{
	width: 700px;
}

.panier
{
	position: absolute;
	background-color: #000000;
	text-align:right;
	top:30px;
	right:0px;
	width: 250px;
	height: 60px;
}

.imgpanier
{
	margin-top:5px ;
	margin-right:5px ;
}

.baruser1
{
	margin-top:30px;
	width:1200px;
	height:35px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
}

.baruser2
{
	width:1200px;
	height:35px;
	margin-left: auto;
	margin-right: auto;
	background-color: #b32229;
}

.corps
{
	position: relative;
	background-color: #ffffff;
	width:1200px;
	min-height:1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.bandegauche
{
	position:absolute;
	background-color: #000000;
	width:950px;
	height:50px;
	margin-left: 250px;
	margin-right: auto;
}

.bandehaut
{
	position:absolute;
	background-color: #e6e6e6;
	width:250px;
	min-height:1500px;
	border-right-style: solid;
	border-color: #000000;
	box-sizing: border-box;
}

.content
{
	position:absolute;
	margin-left: 250px;
	margin-top: 50px;
	min-height:1450px;
	width:950px;
}

.ctntstudent
{
	background-color: #00acc1;
	position:absolute;
	margin-top: 25px;
	margin-left: 25px;
	height: 300px;
	width: 900px;
}

.users
{
	background-color: #0b8043;
	position:absolute;
	margin-top: 10px;
	margin-left: 10px;
	height: 280px;
	width: 295px;
}

.user_pic
{
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}

.user_info
{
	background-color: #ff3d00;
	position: absolute;
	margin-top: 5px;
	height: 95px;
	width: 275px;
}
.user_buy
{
	position: absolute;
	margin-left:150px;
	margin-top: -100px;
}
